 APP_PORT=8000
 APP_NAME=E-commerce-Team-5
 DB_CONNECTION_STRING=mongodb+srv://luxeharmonystore:8WOt94HoA2wy4Fy5@lhcluster.k2nk9sg.mongodb.net/test
 JWT_SECRET=STRINGsecreto
 TOTAL_USERS=8



# APP_PORT=8000
# APP_NAME="E-commerce-Team-5"

# DB_CONNECTION_STRING="mongodb://127.0.0.1/team5-e-commerce"
# SESSION_SECRET="eCommerceTema5"

# JWT_SECRET="STRINGsecreto"

# TOTAL_USERS=8